# Auto detect text files and perform LF normalization
* text=auto

# Exclude files from release archives
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/phpcs.xml.dist export-ignore
/tests export-ignore
/CONTRIBUTING.md export-ignore
/SECURITY.md export-ignore
/.vscode export-ignore